.cell {
  border: 1px solid #999;
  float: left;
  line-height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  height: 10px;
  width: 10px;
}

.cell:hover {
  background: grey !important;
  cursor: pointer;
}

.cell.readOnly:hover {
  background: inherit !important;
  cursor: default;
}

.cell#live {
 background: black;
}

.cell#dead {
  background: white;
}
